/* Nav */

.nav {
	padding: 20px 0;
	background-color: var(--nav-bg);
	border-bottom: 0px solid var(--nav-border);
	color: var(--nav-text);
	letter-spacing: normal;
	padding-right: 11%;
    padding-left: 5%;
}

.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
	
	
}

.logo {
	margin-right: auto;
	color: var(--nav-text);
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	
	
	
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.nav-list__link {
	color: var(--nav-text);
	transition: opacity 0.3s ease-in;
}

.nav-list__link:hover {
	opacity: 0.3;
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link--active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}
/* прозрачный фон */

.nav {
    position: sticky;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(32, 32, 32, 0.9); /* Начальный цвет фона навбара */
    transition: background-color 0.3s ease; /* Плавный переход для изменения цвета фона */
	backdrop-filter: blur(5px);
	
}

.nav.transparent {
    background-color: rgba(75, 70, 70, 0.5); /* Полупрозрачный фон при прокрутке */
	
}